@{
    Layout = "~/Areas/front/Views/Shared/front_layout.cshtml";
}
<table id="basiclayout" cellspacing="0"> </table>
<div class="breadcrumb">
    <a href="/">Trang chủ</a> > <li class="active">Về Home4U</li>
</div>
<div style="min-height: 20px;">
</div>
<div id="doc">
    <div id="left">
    <!-- start about_bookings_menu.inc -->
        <div class="box">
            <h3>Về Home4U&trade;</h3>
            <ul class="staticmenustyle">
                <li>Tổng quan</li>
                <li><a href="/front/About/CauHoi">Các câu hỏi thường gặp</a></li>
            </ul>
        </div>
    <!-- end about_bookings_menu.inc -->
    </div>
    <div id="right">
        <!-- start html_about.inc -->
        <h1 style="padding-left:10px" class="specials">Tổng quan</h1>
        <!-- start cuca_alarm_message.inc -->
        <!-- end cuca_alarm_message.inc -->
        <h2><span>Công Ty</span></h2>
        <p>Home4U được phát triển bởi nhóm sinh viên khóa 09, phục vụ đồ án thực hành môn Phát triển ứng dụng HTTT hiện đại. Home4U là đại lý đặt phòng khách sạn trực tuyến theo số đêm lưu trú.</p>
        <p>Được thành lập vào năm 2012, Home4U đảm bảo giá tốt nhất cho bất kỳ loại chỗ ở nào, từ những khách sạn nhỏ, độc lập đến 5 sao sang trọng qua Home4U. Trang web của Home4U được viết bằng tiếng Viêt hoàn toàn.</p>
        <h2><span>Đội ngũ sinh viên xây dựng trang web</span></h2>
        <p>Gồm 5 thành viên:</p> 
            <div>
            <div style="width: 140px; height: 128px; display: inline-block; padding-right: 20px; margin-left: 30px;">
                <img src="/Content/img/Group/img_pta.jpg" alt="Phạm Thị Ân - 0912023" title = "Phạm Thị Ân - 0912023" style="width:128px; height:171px;" class="hotel round8"/>
                <p style="text-align: center; padding: 0px; margin: 0px; margin-top: 5px;"><b style="line-height:20px;">Phạm Thị Ân</b><br /><b>0912023</b></p>
            </div>
            <div style="width: 140px; height: 128px; display: inline-block; padding-right: 20px;">
                <img src="/Content/img/Group/img_vmc.jpg" alt="Vũ Mạnh Cường - 0912049" title = "Vũ Mạnh Cường - 0912049" style="width:128px; height:171px;" class="hotel round8"/>
                <p style="text-align: center; padding: 0px; margin: 0px; margin-top: 5px;"><b style="line-height:20px;">Vũ Mạnh Cường</b><br /><b>0912049</b></p>
            </div>
            <div style="width: 140px; height: 128px; display: inline-block; padding-right: 20px;">
                <img src="/Content/img/Group/img_phmd.jpg" alt="Phan Hoàng Mỹ Dung - 0912054" title = "Phan Hoàng Mỹ Dung - 0912054" style="width:128px; height:171px;" class="hotel round8"/>
                <p style="text-align: center; padding: 0px; margin: 0px; margin-top: 5px;"><b style="line-height:20px;">Phan Hoàng Mỹ Dung</b><br /><b>0912054</b></p>
            </div>
            <div style="width: 140px; height: 128px; display: inline-block; padding-right: 20px;">
                <img src="/Content/img/Group/img_ntn.jpg" alt="Nguyễn Thành Nhơn  - 0912324" title = "Nguyễn Thành Nhơn  - 0912324" style="width:128px; height:171px;" class="hotel round8"/>
                <p style="text-align: center; padding: 0px; margin: 0px; margin-top: 5px;"><b style="line-height:20px;">Nguyễn Thành Nhơn</b><br /><b>0912324</b></p>
            </div>
            <div style="width: 140px; height: 128px; display: inline-block; padding-right: 20px;">
                <img src="/Content/img/Group/img_nnp.jpg" alt=">Nguyễn Ngọc Phan - 0912329" title = ">Nguyễn Ngọc Phan - 0912329" style="width:128px; height:171px;" class="hotel round8"/>
                <p style="text-align: center; padding: 0px; margin: 0px; margin-top: 5px;"><b style="line-height:20px;">Nguyễn Ngọc Phan</b><br /><b>0912329</b></p>
            </div>
            </div>
        <h2><span>Sứ mệnh của chúng tôi</span></h2>
        <p>Giúp mọi đối tượng khách du lịch dễ dàng khám phá, đặt phòng và tận hưởng những nơi tốt nhất trên khắp thế giới để nghỉ lại.</p>
        <h2><span>Tầm nhìn của Chúng tôi</span></h2>
        <p>Qua Home4U, chúng tôi mang đến một trang web nhiều thông tin, dễ sử dụng với những mức giá được đảm bảo là tốt nhất. Mục tiêu của chúng tôi là giúp cho khách du lịch doanh nhân cũng như giải trí khám phá và đặt phòng một cách dễ dàng nhất, hiệu quả nhất về mặt chi phí với nhiều lựa chọn về chỗ ở phong phú tại.</p>
        <h2><span>Lợi ích cho khách hàng</span></h2>
        <h5 style="margin-left: 10px; margin-bottom: 5px;">Giá Thấp nhất</h5>
        <div style="padding-left: 20px;">
            <table cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr>
                        <td style="width: 35px; valign: top;">
                            <img alt="" width="30" vspace="2" hspace="0" height="24" src="/Content/img/thick_transp_small.gif" style="vertical-align:middle;"/>
                        </td>
                        <td>
                        <p>
                            Đảm bảo giá thấp nhất
                        </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h5 style="margin-left: 10px; margin-bottom: 5px;">Không phí đặt phòng</h5>
        <div style="padding-left: 20px;">
            <table cellspacing="0" cellpadding="0" border="0">
                <tbody>
                <tr>
                    <td style="width: 35px; valign: top;">
                        <img width="30" vspace="2" hspace="0" height="24" src="/Content/img/thick_transp_small.gif" style="vertical-align:middle;">
                    </td>
                    <td>
                        <p>
                        Dịch vụ đặt phòng qua Home4U là miễn phí. Chúng tôi không thu từ bạn bất kỳ phí đặt phòng hoặc phí hành chính nào, và trong nhiều trường hợp bạn có thể huỷ đặt phòng miễn phí.
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <h5 style="margin-left: 10px; margin-bottom: 5px;">Đặt phòng an toàn</h5>
        <div style="padding-left: 20px;">
            <table cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr>
                        <td style="width: 35px; valign: top;">
                        <img width="30" alt="" vspace="2" hspace="0" height="24" src="/Content/img/thick_transp_small.gif" style="vertical-align:middle;"/>
                        </td>
                        <td>
                            <p>
                            Hệ thống đặt phòng của Home4U an toàn và thẻ tín dụng cũng như thông tin cá nhân của bạn được mã hoá. Chúng tôi phấn đấu để đạt các tiêu chuẩn cao và bảo đảm sự riêng tư cho bạn. 
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> 
