@{
    Layout = "~/Areas/back/Views/Shared/back_layout.cshtml";
}
<div class="container" style="padding-top:80px">   
    <div class="row-fluid">
        <div class="span12 well">
            <h1>Bạn không có quyền truy cập vào đường dẫn này.</h1>
            <br/>

            <h4>Nhấn vào @Html.ActionLink("đây", "index", "Admin") để về trang chủ.</h4>
        </div>
    </div>
</div>
