@{
    Layout = "~/Areas/back/Views/Shared/back_layout.cshtml";
}
<blockquote>
<p>Xin chào <strong style="font-style: italic;">@Session["Username"]</strong> </p>
<small>Chọn menu bên trái để bắt đầu</small>
</blockquote>